<%- include("header")-%>
   <div class="container-fluid">
<p class="about-text"> We are the world’s fastest-growing network of trading platforms, operating in 30+ countries around the world.
<p class="about-text"> We help people buy and sell cars, find housing, get jobs, buy and sell household goods, and much more. With more than 20 well-loved local brands including Avito, OLX, Otomoto, and Property24, our solutions are built to be safe, smart, and convenient for our customers. </p>

<p class="about-text"> We are powered by a team of 10,000+ people, working across 5 continents in offices all around the world. </p>
<p class="about-text"> We love to unlock value for our customers. Every single month, 300 million people use our platforms to easily, safely, and conveniently find their perfect home, buy or sell a car, find a great job, sell things they no longer need, or strike a great deal on something they need. And we help thousands of entrepreneurs and businesses find their customers too. </p>
<p class="about-text"> We also unlock value within our company. We invest in ourselves and each other to reach our full potential. We avoid bureaucracy and empower our teams to innovate. Our commitment to inclusion ensures we listen to a diverse range of voices when making decisions. And, we combine the spirit and agility of a startup with our global scale and the backing of Prosus, one of the largest consumer internet groups in the world.</p>
<p class="about-text"> Last but not least, we unlock value for our stakeholders. We are proud of the positive contribution we make to our planet, by enabling more conscious consumption and helping the world make the most of its limited resources through more efficient trade. </p>
<p class="about-text"> We are committed to our cause: shaping the future of trade to unlock the hidden value in everything. </p>
<p class="about-text"> We are OLX Group.</p>

 
</p class="about-text">
    </div>
<%- include("footer") -%> 