<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VehicleWale</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
        <nav class="container-fluid">
            <a href="/">VehicleWale</a>
    
            <ul class="CenterNavs">
                <a href="/addVehicle"><li>POST AN AD</li></a>
                <a href="/about"><li>ABOUT</li></a>
            </ul>
    
            <ul class="RightNavs">
                <a href="/login"><li>LOG IN</li></a>
                <a href="/SignUp"><li>SIGN UP</li></a>
            </ul>
        </nav>