<%- include("header")-%>
    <div class="landing">
        <h1 class="container-fluid heading">BUY YOUR DREAM VEHICLE</h1>
        <p class="container-fluid">get your dream vehicle with zero hazzle, 
            we will do all the paperwork needed. with 1% commission that's 
            all no hidden charges what so ever.</p>
        <div>
            <button>SEARCH ANY VEHICLE.</button>
        </div>
    </div>
<%- include("footer")-%>
