<%- include("header")-%>       
    <div class="box">
        <h1>LOG IN</h1>
        <form action="/login" method="POST">
            <label for="">Email:</label>
            <input type="email" name="id" id=""><br>
            <label for="">Password:</label>
            <input type="password" name="password" id=""><br>
            <button type="submit">
                LOG IN
            </button>
        </form>
    </div>
<%- include("footer")-%>