<%- include("header")-%> 
    <div class="container-fluid">
        <h1 style="text-align: center; margin-top: 4rem;">Login Failed</h1>
        <a style="text-align: center; display: block; text-decoration: underline;" href="/signup">Signup</a>
    </div>
<%- include("footer")-%>