<%- include("header")-%>
    <div class="container-fluid">
        <h1 style="margin-top: 4rem;">Welcome,</h1>
        <p style="margin-top: 1rem;"><%= user.userName %> </p>
    </div>
<%- include("footer")-%>